@import "../../variables.scss";

.btnContainer {
  height: 15%;
  width: 60%;
  @extend %flexRowCenterPosition;
}

.btnContainer button {
  height: 3rem;
  width: auto;
  background-color: $background-color;
  border: none;
  box-shadow: $yellowContainerBoxShadow;
  padding: 1rem;
  border-radius: $standardBorderRadius;
  font-family: "Ubuntu", sans-serif;
  font-weight: 100;
  color: $onyx;
}

.btnContainer button:hover {
  cursor: pointer;
  background-color: $canary-yellow;
}

.instructionsContainer {
  height: 15%;
  width: 60%;
  @extend %flexColumnCenterStart;
  box-shadow: $yellowContainerBoxShadow;
  border-radius: $standardBorderRadius;
  overflow: hidden;
  overflow-y: scroll;
  font-weight: 100;
  font-size: 0.9rem;
}

.instructionsContainer div {
  margin: 1rem;
  height: auto;
  width: 80%;
  text-align: center;
}

.instructionsContainer div button {
  height: 3rem;
  width: auto;
  background-color: $background-color;
  border: none;
  box-shadow: $yellowContainerBoxShadow;
  padding: 1rem;
  border-radius: $standardBorderRadius;
  font-family: "Ubuntu", sans-serif;
  font-weight: 100;
  color: $onyx;
}

.instructionsContainer div button:hover {
  cursor: pointer;
  background-color: $cultured;
}
