@import "../../variables.scss";

.btnContainer {
  height: 15%;
  width: 60%;
  @extend %flexRowCenterPosition;
}

.btnContainer button {
  height: 3rem;
  width: auto;
  background-color: $cultured;
  border: none;
  padding: 1rem;
  border: 1px solid $amber-sae-ece;
  border-radius: $standardBorderRadius;
  font-family: "Ubuntu", sans-serif;
  font-weight: 100;
  color: $onyx;
}

.btnContainer button:hover {
  cursor: pointer;
  box-shadow: $orangeContainerBoxShadow;
  transform: all 0.3s;
}

.instructionsContainer {
  height: 15%;
  width: 60%;
  box-shadow: $orangeContainerBoxShadow;
  @extend %flexColumnCenterStart;
  box-shadow: $grayBackgroundShadow;
  overflow: hidden;
  overflow-y: scroll;
  font-weight: 100;
  font-size: 0.9rem;
  background-color: $cultured;
}

.instructionsContainer::-webkit-scrollbar {
  width: 3px;
}

.instructionsContainer::-webkit-scrollbar-thumb {
  background-color: $amber-sae-ece;
}

.instructionsContainer::-webkit-scrollbar-track {
  background-color: transparent;
}

.instructionsContainer div {
  margin: 1rem;
  height: auto;
  width: 80%;
  text-align: center;
}

.instructionsContainer div button {
  height: 3rem;
  width: auto;
  background-color: $cultured;
  border: none;
  border: 1px solid $amber-sae-ece;
  padding: 1rem;
  border-radius: $standardBorderRadius;
  font-family: "Ubuntu", sans-serif;
  font-weight: 100;
}

.instructionsContainer div button:hover {
  cursor: pointer;
  box-shadow: $orangeContainerBoxShadow;
  transition: all 0.3s;
}
