@import "../../variables.scss";

.btnContainer {
  @extend %devBorder;
  height: 15%;
  width: 60%;
  @extend %flexRowCenterPosition;
}

.btnContainer button {
  height: 3rem;
  width: auto;
  background-color: $background-color;
  border: none;
  box-shadow: $yellowContainerBoxShadow;
  padding: 1rem;
  border-radius: $standardBorderRadius;
  font-family: "Ubuntu", sans-serif;
  font-weight: 100;
  color: $onyx;
}

.btnContainer button:hover {
  cursor: pointer;
  background-color: $canary-yellow;
}
