@import "../../variables.scss";

.stepsContainer {
  height: 50%;
  width: 90%;
  @extend %flexColumnCenterSpaceEvenly;
}

.stepContainer {
  @extend %stepContainerHeightWidth;
  @extend %flexRowSpaceBetweenCenter;
}

.step {
  @extend %devBorder;

  flex: 10;
  height: 100%;
}

.checkBtn {
  @extend %flexRowCenterPosition;
  flex: 2;
  height: 100%;
}

.checkmark {
  height: 25px;
  width: 25px;
  background-color: $cultured;
  border-radius: 50%;
  cursor: not-allowed;
  box-shadow: $orangeContainerBoxShadow;
}
