@import "./variables.scss";

.app {
  width: 65vw;
  height: 150vh;
  @extend %flexColumnCenterSpaceEvenly;
  box-shadow: $mainContainerBoxShadow;
  border-radius: $standardBorderRadius;
}

.message {
  @extend %devBorder;
  height: 5%;
  width: 80%;
}

@media screen and (max-width: 768px) {
  .app {
    width: 90vw;
  }
}
