// global styles
@import "./variables.scss";

body {
  background-color: $background-color;
  @extend %flexRowCenterPosition;
  margin: 3rem;
}

html::-webkit-scrollbar {
  width: 1px;
}

html::-webkit-scrollbar-thumb {
  background-color: $amber-sae-ece;
}

html::-webkit-scrollbar-track {
  background-color: transparent;
}
