// global styles
@import "./variables.scss";

body {
  background-color: $background-color;
  @extend %flexRowCenterPosition;
  margin: 3rem;
}

html::-webkit-scrollbar {
  width: 0.15rem;
}

html::-webkit-scrollbar-thumb {
  background-color: $cultured;
}

html::-webkit-scrollbar-track {
  background-color: transparent;
}
