// color palette
$canary-yellow: #fff100ff;
$amber-sae-ece: #ff7f11ff;
$cultured: #f7f7f7ff;
$onyx: #404040ff;
$quick-silver: #a5a6a5ff;
$background-color: $quick-silver;

// global variables
$mainContainerBoxShadow: inset 0 0 5px $amber-sae-ece;
$yellowContainerBoxShadow: 0 0 5px $canary-yellow;
$standardBorderRadius: 1rem;
$standardBorder: 1px solid black;
$gSButtonBorder: 1px solid $canary-yellow;

//  INHERETANCE
// GLOBAL INHERETANCE
%flexRowCenterPosition {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

%flexColumnCenterSpaceEvenly {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

%flexColumnCenterStart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

// COMPONENT INHERETANCE

// Header

%hundredHeightWidth {
  height: 100%;
  width: 100%;
}

// dev variables (temp)
%devBorder {
  border: 1px solid black;
  border-radius: 1rem;
}
