@import "../../variables.scss";

.messageContainer {
  background-color: $cultured;
  @extend %flexRowCenterPosition;
  box-shadow: $orangeContainerBoxShadow;
  border-radius: $standardBorderRadius;
  text-align: center;
  font-size: 0.75rem;
  height: 5%;
  width: 80%;
  padding: 0.5rem;
}
