@import "../../variables.scss";

.PBContainer {
  height: 5%;
  width: 80%;
  @extend %flexRowCenterPosition;
}

.progressBar {
  position: relative;
  @extend %PBHeightAndWidth;
  background-color: rgba(255, 128, 17, 0.318);
  border-radius: $standardBorderRadius;
  color: $cultured;
  overflow: hidden;
}

.progressFill {
  height: 100%;
  width: 0%;
  background-color: $amber-sae-ece;
}

.progressText {
  @extend %hundredHeightWidth;
  @extend %flexRowCenterPosition;
  position: absolute;
  top: 0;
  font-size: 1.25rem;
}
